<div>
  <img class={{user.dead}} src="http://combatace.com/uploads/monthly_02_2015/post-25391-0-66832400-1423472920.jpg">
  <div class="assassin-header">
    {{user.username}}
  </div>
  <h2 class="assassin-profile">Assassin Profile</h2>
  <div class="assassin-content">
    <div class="avatar stats">
      <img class="avatar-image" src='{{user.avatar}}'>
    </div>
    <div class="stats">
      <h3><center>Target</center></h3>
      <br>
      <p class="indent">{{user.target.target}}</p>
      <h3><center>Weapon</center></h3>
      <br>
      <p class="indent">{{user.weapon}}</p>
      <img class="weapon-image" src='{{user.weaponImage}}'>
    </div>
  </div>

  <div class="code-image">
    <img id="code-image-size" src={{user.codeImage}}>
    <div class="code">
      <p>Your Kill Code is</p>
      <br>
      <p id="user-code">{{user.code}}</p>
    </div>
  </div>

    {{log-kill user=model.user users=model.users targets=model.targets checkCode="checkCode"}}

  <div class="trophy-shelf">

  </div>
</div>
